<% var data = { title: "Project", author: "Natalia Zhydejkina" }; %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
      <link rel="shortcut icon" href="favicon/favicon.ico" />
    <link rel="manifest" href="favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <link priority="async" rel="stylesheet" href="css/style.bundle.css" />
    <link priority="async" rel="stylesheet" href="css/max-width-48-rem.css" media="screen and (max-width:48rem)">
    <link priority="async" rel="stylesheet" href="css/max-width-64-rem.css" media="screen and (max-width:64rem)">
    <link priority="async" rel="stylesheet" href="css/max-width-90-rem.css" media="screen and (max-width:90rem)">
    <title><%=data.title%></title>
  </head>
  <body>
    <%= _.template(require('./../includes/header.html'))() %>
    <div class="home-page">
      <%= _.template(require('./../includes/index/block_1.html'))() %>
      <section class="c-block_2">
        <%= _.template(require('./../includes/index/block_2--left.html'))() %>
        <%= _.template(require('./../includes/index/block_2--right.html'))() %>
      </section>
      <%= _.template(require('./../includes/index/block_3.html'))() %>
      <%= _.template(require('./../includes/index/block_4.html'))() %>
    </div>
    <%= _.template(require('./../includes/footer.html'))() %>
  </body>
</html>
