/*
first viewport: {
    "Merriweather - Light Italic"
    "Ostrich Sans - Black"
    "Helvetica LT Std - Ultra Comp"
    "Dosis - Semi Bold"
    "Myriad Pro - Semibold"
    "Bank Gothic BT"
    "Myriad Pro"
    "Zurich BT - Black Extended"
}

"Open Sans"
"Nirmala UI"
 Pompiere
*/

@font-face {
  font-family: "Zurich";
  font-style: normal;
  font-weight: 400;
  src: local("Zurich Black Extended"), local("ZurichBlack-Extended"),
    url("../fonts/Zurich Black Extended.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/Zurich Black Extended.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: fallback;
}
@font-face {
  font-family: "Bank Gothic";
  font-style: normal;
  font-weight: 400;
  src: local("Bank Gothic BT"), local("Bank-GothicBT"),
    url("../fonts/Bank Gothic BT.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/Bank Gothic BT.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: fallback;
}
/* merriweather-300italic - latin */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
  src: local("Merriweather Light Italic"), local("Merriweather-LightItalic"),
    url("../fonts/merriweather-v19-latin-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/merriweather-v19-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: fallback;
}
@font-face {
  font-family: "Ostrich Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Ostrich Sans Black"), local("OstrichSans-Black"),
    url("../fonts/Ostrich Sans - Black.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/Ostrich Sans - Black.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: fallback;
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica LT Std Comp"), local("HelveticaLTStd-Comp"),
    url("../fonts/Helvetica LT Std - Ultra Comp.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/Helvetica LT Std - Ultra Comp.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: fallback;
}
/* dosis-600 - latin */
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Myriad Pro"), local("MyriadPro-Regular"),
    url("../fonts/Myriad Pro-Regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/Myriad Pro-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: fallback;
}
@font-face {
  font-family: "Dosis SemiBold";
  font-style: normal;
  font-weight: 600;
  src: local("Dosis SemiBold"), local("Dosis-SemiBold"),
    url("../fonts/dosis-v7-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/dosis-v7-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: fallback;
}

@font-face {
  font-family: "Myriad Pro Semibold";
  font-style: normal;
  font-weight: 600;
  src: local("Myriad Pro Semibold"), local("MyriadPro-Semibold"),
    url("../fonts/Myriad Pro-Semibold.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/Myriad Pro-Semibold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: fallback;
}

@font-face {
  font-family: "NEOTERIC";
  font-style: normal;
  font-weight: 400;
  src: local("NEOTERIC"), local("NEOTERIC"),
    url("../fonts/NEOTERIC.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/NEOTERIC.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: fallback;
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/open-sans-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: fallback;
}

/* pompiere-regular - latin */
@font-face {
  font-family: "Pompiere";
  font-style: normal;
  font-weight: 400;
  src: local("Pompiere"), local("Pompiere-Regular"),
    url("../fonts/pompiere-v7-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/pompiere-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: fallback;
}
@font-face {
  font-family: "Nirmala UI";
  font-style: normal;
  font-weight: 400;
  src: local("NirmalaUI"), local("NirmalaUI"),
    url("../fonts/Nirmala UI.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/Nirmala UI.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: fallback;
}
