$fontMerriweatherLightItalic: "Merriweather", "Georgia", "Times New Roman", Times, serif;
$fontDosisSemiBold: "Dosis SemiBold", sans-serif;
$fontZurich: "Zurich", sans-serif;
$fontBankGotic: "Bank Gothic", sans-serif;
$fontOstrichSans: "Ostrich Sans", sans-serif;
$fontHelvetica: "Helvetica", "Impact", sans-serif;
$fontMyriadPro: "Myriad Pro", sans-serif;
$fontMyriadProSemibold: "Myriad Pro Semibold", sans-serif;
$fontNeoteric: "NEOTERIC", sans-serif;
$fontOpenSans: "Open Sans", sans-serif;
$fontPompiere: "Pompiere", sans-serif;
$fontNirmalaUI: "Nirmala UI",sans-serif;

$black: #000;
$white: #fff;
$yellow: #ffc908;
$red: #e21712;
$subscribeBlack: #242929;
$inputGray: #a8aeae;
$logoGray: #3e3d40;
$socialGray: #575c5c;
$gray: #4c4c4c;
$block2HeadlineBlock: #413f3f;
$block2HeadlineGray: #a9b3e3;
$block2textBlack: #575c5c;
$block2PostBlack: #282d2d;
$block2ContactGray:#777777;
$block2ContactBlack: #0a0a0a;
$block2ContactBorder: #eef2f6;
$block2ContactBackground: #f6f8f9;
$block2RightInfoTextBlack: #6c7374;
$block2SocialCommentsGray: #b1b494;
$block2OverlapBackgorund2: #d4c7af;
$footerBackground: #737373;
$footerBlack: #645a5a;

$facebookColor: rgb(23, 78, 197);
$twitterColor: #4AB3F4;
$google-plusColor: #CE3525;
$instagramColor: #FA2148;
$youtubeColor:#FF0000;
$linkedinColor: #0274B3;